<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Register Sensor Node
    <small>Sensor Node Details</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Services</li>
    <li class="active">Register</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <!-- interactive chart -->
      <div [hidden]="submitted" class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-server"></i>

          <h3 class="box-title">Sensor Node Registration</h3>
        </div>
        <form class="form-horizontal" (ngSubmit)="onSave()" #heroForm="ngForm">
          <div class="box-body">
            <div class="form-group">
              <label for="sensorName" class="col-sm-2 control-label">Name</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" name="sensorName" id="sensorName" placeholder="Name" [(ngModel)]="sensorNode.name" required>
              </div>
            </div>
            <div class="form-group">
              <label for="sensorIPAdress" class="col-sm-2 control-label">IP Address</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" name="sensorIPAdress" id="sensorIPAdress" placeholder="IP Address" [(ngModel)]="sensorNode.ip" required>
              </div>
            </div>
            <div class="form-group">
              <label for="sensorTopic" class="col-sm-2 control-label">Topic</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" name="sensorTopic" id="sensorTopic" placeholder="Topic" [(ngModel)]="sensorNode.topic" required>
              </div>
            </div>
            <div class="form-group">
              <label for="sensorDataType" class="col-sm-2 control-label">Sensor Data Type</label>
              <div class="col-sm-10">
                <select class="form-control" id="sensorDataType" name="sensorDataType" [(ngModel)]="sensorNode.type" required>
                  <option  *ngFor="let type of sensorDataTypes" [value]="type">{{type}}</option>
                </select>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <a href="#" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-info pull-right" [disabled]="!heroForm.form.valid" >Save</button>
          </div>
          <!-- /.box-footer -->
        </form>
        <!-- /.box-body-->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-xs-12" *ngIf="node">
      <!-- interactive chart -->
      <div class="box box-success">
        <div class="box-header with-border">
          <i class="fa fa-server"></i>

          <h3 class="box-title">New Sensor Node Details</h3>
        </div>

          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd>{{node.name}}</dd>
              <dt>IP</dt>
              <dd>{{node.ip}}</dd>
              <dt>Topic</dt>
              <dd>{{node.topic}}</dd>
              <dt>Data Type</dt>
              <dd>{{node.type}}</dd>
            </dl>
          </div>
        <div class="box-footer">
          <a href="#" class="btn btn-default">Cancel</a>
          <button type="submit" class="btn btn-info pull-right" (click)="createNew()" >New Sensor Node</button>
        </div>
          <!-- /.box-body -->
        <!-- /.box-body-->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
