<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Sensor Node
    <small>Details</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Sensor Nodes</li>
    <li class="active">{{node?.name}}</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12" *ngIf="node">
      <!-- interactive chart -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-server"></i>

          <h3 class="box-title">Sensor Node Details</h3>
        </div>

        <div *ngIf="node" class="box-body">
          <dl *ngIf="!edit" class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{node.name}}</dd>
            <dt>IP</dt>
            <dd>{{node.ip}}</dd>
            <dt>Topic</dt>
            <dd>{{node.topic}}</dd>
            <dt>Data Type</dt>
            <dd>{{node.type}}</dd>
            <dt>Status</dt>
            <dd>
              <span [className]="selectStatusClass(node)">{{node.status}}</span>
            </dd>
            <dt>Connection</dt>
            <dd>
              <span [className]="selectConnectionClass(node)">{{node.connectionStatus}}</span>
            </dd>
          </dl>
          <form *ngIf="edit" class="form-horizontal" #heroForm="ngForm">
            <div class="box-body">
              <div class="form-group">
                <label for="sensorName" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" name="sensorName" id="sensorName" placeholder="Name" [(ngModel)]="editNode.name" required>
                </div>
              </div>
              <div class="form-group">
                <label for="sensorIPAdress" class="col-sm-2 control-label">IP Address</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" name="sensorIPAdress" id="sensorIPAdress" placeholder="IP Address" [(ngModel)]="editNode.ip" required>
                </div>
              </div>
              <div class="form-group">
                <label for="sensorTopic" class="col-sm-2 control-label">Topic</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" name="sensorTopic" id="sensorTopic" placeholder="Topic" [(ngModel)]="editNode.topic" required>
                </div>
              </div>
              <div class="form-group">
                <label for="sensorDataType" class="col-sm-2 control-label">Sensor Data Type</label>
                <div class="col-sm-10">
                  <select class="form-control" id="sensorDataType" name="sensorDataType" [(ngModel)]="editNode.type" required>
                    <option  *ngFor="let type of sensorDataTypes" [value]="type">{{type}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </form>
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-4 col-xs-6">
              <div *ngIf="!edit" class="description-block border-right">
                <a class="btn btn-app" (click)="toggleEdit()">
                  <i class="fa fa-edit"></i> Edit
                </a>
              </div>
              <div *ngIf="edit" class="description-block border-right">
                <a class="btn btn-app" (click)="cancelEdit()">
                  <i class="fa fa-undo"></i> Cancel
                </a>
              </div>
              <!-- /.description-block -->
            </div>
            <div [hidden]="!edit" class="col-sm-4 col-xs-6">
              <div class="description-block border-right">
                <a class="btn btn-app" (click)="saveChanges()">
                  <i class="fa fa-save"></i> Save
                </a>
              </div>
              <!-- /.description-block -->
            </div>
            <div class="col-sm-4 col-xs-6">
              <div class="description-block border-right">
                <a class="btn btn-app">
                  <i class="fa fa-remove"></i> Delete
                </a>
              </div>
              <!-- /.description-block -->
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class	="col-sm-4 col-xs-6">
              <div class="description-block border-right">
                <a class="btn btn-app" (click)="toggleData()">
                  <span class="badge bg-green">{{sensorReadings.length}}</span>
                  <i class="fa fa-database"></i> Sensor Data
                </a>
              </div>
              <!-- /.description-block -->
            </div>
            <div class	="col-sm-4 col-xs-6">
              <div class="description-block border-right">
                <a class="btn btn-app" (click)="toggleFailures()">
                  <span class="badge bg-green">{{node.failures.length}}</span>
                  <i class="fa fa-database"></i> Failures
                </a>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div *ngIf="node.connectionStatus.localeCompare('CONNECTED')" class="col-sm-4 col-xs-6">
              <div class="description-block border-right">
                <a class="btn btn-app" (click)="connect()">
                  <i class="fa fa-sign-in"></i> Connect
                </a>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div *ngIf="!node.connectionStatus.localeCompare('CONNECTED')" class="col-sm-4 col-xs-6">
              <div class="description-block border-right">
                <a class="btn btn-app" (click)="disconnect()">
                  <i class="fa fa-sign-out"></i> Disconnect
                </a>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div *ngIf="!node.connectionStatus.localeCompare('CONNECTED')" class="col-sm-4 col-xs-6">
              <div class="description-block border-right">
                <a class="btn btn-app" (click)="toggleChart()">
                  <i class="fa fa-clock-o"></i> Real-Time Chart
                </a>
              </div>
              <!-- /.description-block -->
            </div>
          </div>

        </div>
        <app-alert *ngIf="visibilityAlertBox" [status]="connectionStatus"></app-alert>
        <!-- /.box-body -->
      </div>
      <div *ngIf="visibilityFailures" class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-server"></i>

          <h3 class="box-title">Sensor Node Failures</h3>
        </div>

        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
              <tr>
                <th>Timestamp</th>
                <th>Sensor Node ID</th>
                <th>Cause</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of node.failures; let i= index">
                <td>{{item.timestamp}}</td>
                <td>{{item.owner}}</td>
                <td>{{item.cause}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box-footer">

        </div>
        <!-- /.box-body-->
      </div>
      <div *ngIf="visibility" class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-server"></i>

          <h3 class="box-title">Sensor Node Data</h3>
        </div>

        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
              <tr>
                <th>Index</th>
                <th>Type</th>
                <th>Unit</th>
                <th>Reading</th>
                <th>Timestamp</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of sensorReadings; let i= index">
                <td>{{i}}</td>
                <td>{{item.type}}</td>
                <td>{{item.unit}}</td>
                <td>{{item.reading}}</td>
                <td>{{item.timestamp}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box-footer">

        </div>
        <!-- /.box-body-->
      </div>
      <div [hidden]="visibilityChart" class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>

          <h3 class="box-title">Real-Time - Sensor Data</h3>

        </div>
        <div class="box-body">
          <chart baseChart [type]="type" [data]="data"></chart>
        </div>
        <!-- /.box-body-->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
