<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Service
    <small>Details</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Services</li>
    <li class="active">{{id}}</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <!-- interactive chart -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-server"></i>

          <h3 class="box-title">Service Details</h3>
        </div>
        <div class="box-body">
          <div id="interactive">
            <a class="btn btn-app">
              <i class="fa fa-play"></i> Play
            </a>
            <a class="btn btn-app">
              <i class="fa fa-repeat"></i> Repeat
            </a>
            <a class="btn btn-app">
              <i class="fa fa-pause"></i> Pause
            </a>
          </div>
        </div>
        <!-- /.box-body-->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
