<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Sensor Node Not Found
    <small>Oops!</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Not Found</li>
  </ol>
</section>
<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

      <p>
        We could not find the sensor node you were looking for.

        Meanwhile, you may <a [routerLink]="['']">return to dashboard</a>
      </p>
    </div>
    <!-- /.error-content -->
  </div>
</section>
