<section class="content-header">
  <h1>
    Temperature
    <small>Living Room</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Temperature</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>

          <h3 class="box-title">Choose Sensor Nodes</h3>
        </div>
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label for="sensorNodeOne" class="col-sm-2 control-label">Sensor Node</label>
              <div class="col-sm-10">
                <select class="form-control" id="sensorNodeOne" name="sensorDataType" [(ngModel)]="sensorNode1" required>
                  <option  *ngFor="let node of sensorNodes" [ngValue]="node">{{node.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="sensorNodeOne" class="col-sm-2 control-label">Sensor Node</label>
              <div class="col-sm-10">
                <select class="form-control" id="sensorNodeTwo" name="sensorDataType" [(ngModel)]="sensorNode2" required>
                  <option  *ngFor="let node of sensorNodes" [ngValue]="node">{{node.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="datePeriod" class="col-sm-2 control-label">Period</label>
              <div class="col-sm-10">
                <select class="form-control" id="datePeriod" name="sensorDataType" [(ngModel)]="period" required>
                  <option  *ngFor="let p of periods" [value]="p">Last {{p}}</option>
                </select>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right" (click)="generateRandomData()">Bar Chart</button>
            <button type="submit" class="btn btn-info pull-right" (click)="createBubblePlot()">Bubble Plot</button>
            <button type="submit" class="btn btn-info pull-right" (click)="createPolarChart()">Polar Area Chart</button>
          </div>
          <!-- /.box-footer -->
        </form>
        <div class="box-body">

        </div>
        <!-- /.box-body-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!-- interactive chart -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>

          <h3 class="box-title">Scatter Plot</h3>
        </div>
        <div class="box-body">
            <chart id="scatterPlot" [type]="type" [data]="data" [options]="options"></chart>
        </div>
        <!-- /.box-body-->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!-- interactive chart -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>

          <h3 class="box-title">Bar Chart</h3>
        </div>
        <div class="box-body">
            <chart [type]="bar_type" [data]="bar_data" [options]="bar_options"></chart>
        </div>
        <!-- /.box-body-->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!-- interactive chart -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>

          <h3 class="box-title">Scatter Plot</h3>
        </div>
        <div class="box-body">
          <chart id="polarArea" [type]="polar_type" [data]="polar_data" [options]="polar_options"></chart>
        </div>
        <!-- /.box-body-->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
