<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <!--<app-home></app-home>-->
  <div class="content-wrapper">
      <!-- Your Page Content Here -->
      <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
