<chart [type]="type" [data]="data" [options]="options"></chart>
<chart [type]="bar_type" [data]="bar_data" [options]="bar_options"></chart>
<button type="submit" class="btn btn-info pull-right" (click)="generateRandomData()">Plot Chart</button>
<button type="submit" class="btn btn-info pull-right" (click)="barChart()">Bar Chart</button>
