<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Example Charts
    <small>Types Of Charts</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Compare Charts</li>
  </ol>
</section>
<section class="content">
  <div *ngIf="sensorNode1">Node 1: {{sensorNode1.name}}</div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-server"></i>
          <h3 class="box-title">Compare Sensor Data</h3>
        </div>
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label for="sensorNodeOne" class="col-sm-2 control-label">Sensor Node</label>
              <div class="col-sm-10">
                <select class="form-control" id="sensorNodeOne" name="sensorDataType" [(ngModel)]="sensorNode1" required>
                  <option  *ngFor="let node of sensorNodes" [ngValue]="node">{{node.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="sensorNodeTwo" class="col-sm-2 control-label">Sensor Node</label>
              <div class="col-sm-10">
                <select class="form-control" id="sensorNodeTwo" name="sensorDataType" [(ngModel)]="sensorNode2" required>
                  <option  *ngFor="let node of sensorNodes" [ngValue]="node">{{node.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="datePeriod" class="col-sm-2 control-label">Period</label>
              <div class="col-sm-10">
                <select class="form-control" id="datePeriod" name="sensorDataType" [(ngModel)]="period" required>
                  <option  *ngFor="let p of periods" [value]="p">Last {{p}}</option>
                </select>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right" (click)="compareNodes()">Compare</button>
          </div>
          <!-- /.box-footer -->
        </form>
        <!-- /.box-body-->
      </div>
    </div>
    <div class="col-xs-12">
      <div [hidden]="visibilityChart" class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>

          <h3 class="box-title">Scatter Plot</h3>

        </div>
        <div class="box-body">
          <!--<chart [type]="type" [data]="data" [options]="options"></chart>-->
        </div>
        <!-- /.box-body-->
      </div>
    </div>
    <div class="col-xs-12">
      <div [hidden]="visibilityChart" class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>

          <h3 class="box-title">Scatter Plot</h3>

        </div>
        <div class="box-body">
          <app-ng-graph [graphData]="graphData"></app-ng-graph>
        </div>
        <!-- /.box-body-->
      </div>
    </div>
  </div>
</section>
