<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Services
    <small>Overview</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Services</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <!-- interactive chart -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-server"></i>

          <h3 class="box-title">Services - Eureka Discovery</h3>
        </div>
        <div class="box-body">
          <div id="interactive">
            <table class="table table-striped">
              <tr>
                <th style="width: 10px">Instance ID</th>
                <th>IP Address</th>
                <th>Name</th>
                <th style="width: 40px">Status</th>
              </tr>
              <tr *ngFor="let service of services">
                <a [routerLink]="['/services', service.name]">

                <td>{{service.instance_id}}</td></a>
                <td>{{service.ip_address}}</td>
                <td>{{service.name}}</td>
                <td><span class="badge bg-green">{{service.status}}</span></td>

              </tr>
            </table>
          </div>
        </div>
        <!-- /.box-body-->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
